<launch>
  <!-- Start image_node -->
  <node name="image_node" pkg="image_package" type="image.py" output="screen" />
  <!-- Start object_node -->
  <node name="object_node" pkg="image_package" type="objects.py" output="screen" />
  <!-- Start server_node -->
  <node name="server_node" pkg="image_package" type="server.py" output="screen" />
</launch>
